<div>
	<slot />
</div>

<style>
	:global(body) {
		background: #fdfdfd;
		display: grid;
		place-content: center;
		min-height: 100vh;
		font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”,
			“Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”,
			“Helvetica Neue”, sans-serif;
	}

	:global(*, *::after, *::before) {
		box-sizing: border-box;
	}

	div {
		aspect-ratio: 9 / 16;
		width: 400px;
		max-width: 100%;
		display: block;
		box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		position: relative;
	}
</style>
