<script lang="ts">
	import WeatherFooter from "../components/weather-footer.svelte";
	import { getWeatherForm } from "../services/service";

	const weatherPromise = getWeatherForm();
</script>

{#await weatherPromise then weather}
	<section>
		<h1>{weather.name}</h1>
		<h2>{weather.temperature}°</h2>
		<h3>{weather.conditionText}</h3>
		<img
			src={weather.conditionIcon}
			alt={`${weather.conditionText} - ${weather.name}`}
		/>
	</section>
	<WeatherFooter
		humidity={weather.humidity}
		feelsLike={weather.feelsLike}
		windSpeed={weather.windSpeed}
	/>
{/await}

<style>
	section {
		padding: 16px;
	}

	h1 {
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
		padding: 16px 0 0 0;
	}

	h2 {
		font-weight: 400;
		font-size: 128px;
		color: #333;
		text-transform: uppercase;
	}

	h3 {
		font-weight: 700;
		transform: rotate(-90deg);
		color: #333;
		position: absolute;
		top: 4rem;
		right: 12px;
	}
</style>
