<script lang="ts">
	export let humidity: string;
	export let windSpeed: string;
	export let feelsLike: string;
</script>

<footer>
	<div>
		<span>{humidity}%</span>
		<strong>Humidity</strong>
	</div>
	<div>
		<span>{windSpeed}km/h</span>
		<strong>Wind Speed</strong>
	</div>
	<div>
		<span>{feelsLike}°C</span>
		<strong>Feels Like</strong>
	</div>
</footer>

<style>
	footer {
		border: 2px solid #000000;
		padding: 12px 32px;
		width: 80%;
		margin: 0 auto;
		border-radius: 10px;
		display: flex;
		text-align: center;
		justify-content: space-around;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}

	span {
		display: block;
		font-weight: 600;
		font-size: 14px;
	}

	strong {
		color: #444;
		font-weight: 500;
	}
</style>
